body{
  font-family: Roboto;
  width: 100%;
  background-color: #12d41c;
  /* background-color: #68c8d9; */
  /* background-image: url('./cubes.png'); */
}


main{
min-height: 80vh;  
}

h3{
padding: 1rem 0; 
}

.rating span {
margin: 0.1rem;
}